{% extends "base.html" %}
{% load static %}
{% block pate_title %}ホーム{% endblock %}
{% block content %}
    <h4>小説一覧</h4>
    {% for novel in novel_list %}
        <div class="card card-body bg-light p-1">
             <div class="clearfix">
                <div class="float-left">
                    <h4 class="card-title"><a  class="text-dark" href="{% url 'NovelHub:novel_detail' novel.id %}">{{ novel.title }}</a></h4>
                </div>
                <div class="float-right">
                    <a class="btn btn-primary btn-sm mb-3" role="button" href="{% url 'NovelHub:novel_update' novel.id %}" >編集</a>
                </div>
            </div>
        </div>

        {% empty %}
        <p>まだ小説がありません</p>
        <p>自分だけの小説を書いて見ましょう！</p>
        <a class="nav-link" href="{% url 'NovelHub:novel_create' %}">執筆！</a>
    {% endfor %}
{% endblock %}