{% extends "base.html" %}
{% load static %}
{% block pate_title %}編集画面{% endblock %}
{% block content %}
    <!-- 小説更新 -->
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary" type="submit">更新</button><br /><br />
    </form>
    <!-- 過去履歴をアコーディオンとして表示 -->
    {% if history|length < 0 %}
    <h4>過去履歴</h4>
    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
        {% for h in history %}
        <div class="card">
            <div class="card-header" role="tab" id="heading{{ forloop.counter }}">
                <h5 class="mb-0">
                    <div class="clearfix mb-2">
                        <div class="float-left">
                            <a class="text-body d-block p-3 m-n3" data-toggle="collapse" href="#collapse{{ forloop.counter }}" role="button" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                {{ h.created_at }}
                            </a>
                        </div>
                        <div class="float-right">
                            <!-- 過去履歴に戻す処理ボタン -->
                            <form action="{% url 'NovelHub:novel_revert' h.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-primary btn-sm" type="submit">戻す</button>
                            </form>
                        </div>
                    </div>
                </h5>
            </div>
            <div id="collapse{{ forloop.counter }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
                <div class="card-body">
                    {{ h.body }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- 小説削除ボタン -->
    <a class="btn btn-danger mt-3 mb-3" role="button" href="{% url 'NovelHub:novel_delete' object.id %}">削除</a>
{% endblock %}
