{% extends "base.html" %}
{% load static %}
{% block pate_title %}一覧画面{% endblock %}
{% block content %}
    <a class="nav-link" href="{% url 'NovelHub:home' %}">ホームへ</a>
    <h1>一覧</h1>
    {% for novel in novel_list %}

        <a class="nav-link" href="{% url 'NovelHub:novel_detail' novel.id %}">{{ novel.title }}</a>
        <p>{{ novel.body|truncatechars:20 }}</p>
        <p>{{ novel.created_at }}</p>
        <a class="nav-link" href="{% url 'NovelHub:novel_update' novel.id %}">編集</a>
        <hr >
        <br />
    {% empty %}
        <p>まだ小説がありません</p>
        <p>自分だけの小説を書いて見ましょう！</p>
        <a class="nav-link" href="{% url 'NovelHub:novel_create' %}">執筆！</a>
    {% endfor %}
{% endblock %}