<!DOCTYPE html>
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block pate_title %}{% endblock %}</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/sticky-footer.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
<!-- header -->
<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'NovelHub:home' %}">NovelHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'NovelHub:novel_list' %}">小説一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'NovelHub:novel_create' %}">小説執筆</a>
                </li>
                <li class="nav-item">
                </li>
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <p class="navbar-text navbar-right" style="margin: 0;">{{ user.get_username }} さんでログイン中</p>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info btn-sm logout-btn" role="button" href="{% url 'account_logout' %}" >ログアウト</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

<!-- footer-->
<footer class="footer">
  <div class="container">
    <p class="text-muted">Copyright © 2020 osechitan All Rights Reserved.</p>
  </div>
</footer>

{% block extra_js %}{% endblock %}
</body>
</html>